USE [master]
GO
/****** Object:  Database [KampusArena]    Script Date: 27.02.2026 21:56:39 ******/
CREATE DATABASE [KampusArena]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KampusArena', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS03\MSSQL\DATA\KampusArena.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KampusArena_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS03\MSSQL\DATA\KampusArena_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KampusArena].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KampusArena]
GO
/****** Object:  Table [dbo].[Bildirimler]    Script Date: 27.02.2026 21:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bildirimler](
	[BildirimID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NULL,
	[BildirimMetni] [nvarchar](255) NOT NULL,
	[Tarih] [datetime] NULL,
	[Durum] [bit] NULL,
	[Aktif] [bit] NULL,
	[UrunID] [int] NULL,
	[GonderenID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BildirimID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Duyurular]    Script Date: 27.02.2026 21:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Duyurular](
	[DuyuruID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NULL,
	[Baslik] [nvarchar](255) NOT NULL,
	[Aciklama] [nvarchar](max) NOT NULL,
	[Tarih] [datetime] NULL,
	[SonTarih] [datetime] NOT NULL,
	[Aktif] [bit] NULL,
	[PaylasimTarihi] [datetime] NULL,
	[OtomatikKaldir] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DuyuruID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 27.02.2026 21:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [nvarchar](100) NOT NULL,
	[Aciklama] [nvarchar](255) NULL,
	[Aktif] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KiralamaIslemleri]    Script Date: 27.02.2026 21:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KiralamaIslemleri](
	[KiralamaID] [int] IDENTITY(1,1) NOT NULL,
	[UrunID] [int] NULL,
	[KullaniciID] [int] NULL,
	[BaslangicTarihi] [datetime] NOT NULL,
	[BitisTarihi] [datetime] NOT NULL,
	[TeslimTarihi] [datetime] NULL,
	[OdemeDurumu] [nvarchar](50) NOT NULL,
	[KiralamaDurumu] [nvarchar](50) NOT NULL,
	[TeslimDurumu] [nvarchar](50) NOT NULL,
	[Aktif] [bit] NULL,
	[BildirimGonderildi] [bit] NULL,
	[Adres] [nvarchar](200) NULL,
	[Saat] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[KiralamaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 27.02.2026 21:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[KullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Telefon] [nvarchar](15) NULL,
	[Sifre] [nvarchar](100) NOT NULL,
	[KayitTarihi] [datetime] NULL,
	[KullaniciTipi] [nvarchar](20) NOT NULL,
	[Aktif] [bit] NULL,
	[IBAN] [nvarchar](34) NULL,
PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mesajlasma]    Script Date: 27.02.2026 21:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mesajlasma](
	[MesajID] [int] IDENTITY(1,1) NOT NULL,
	[GonderenID] [int] NULL,
	[AliciID] [int] NULL,
	[UrunID] [int] NULL,
	[MesajMetni] [nvarchar](max) NOT NULL,
	[Tarih] [datetime] NULL,
	[FiyatTeklifi] [decimal](10, 2) NULL,
	[Durum] [nvarchar](20) NULL,
	[Aktif] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MesajID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Odemeler]    Script Date: 27.02.2026 21:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odemeler](
	[OdemeID] [int] IDENTITY(1,1) NOT NULL,
	[KiralamaID] [int] NULL,
	[SatisID] [int] NULL,
	[OdemeTutari] [decimal](10, 2) NOT NULL,
	[OdemeTarihi] [datetime] NULL,
	[OdemeYontemi] [nvarchar](50) NOT NULL,
	[KullaniciID] [int] NULL,
	[Aktif] [bit] NULL,
	[DekontYolu] [nvarchar](255) NULL,
	[OdemeDurumu] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[OdemeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Raporlar]    Script Date: 27.02.2026 21:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Raporlar](
	[RaporID] [int] IDENTITY(1,1) NOT NULL,
	[Tarih] [datetime] NULL,
	[ToplamKiralama] [int] NULL,
	[ToplamSatis] [int] NULL,
	[ToplamGelir] [decimal](10, 2) NULL,
	[ToplamDuyuru] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RaporID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SatisIslemleri]    Script Date: 27.02.2026 21:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SatisIslemleri](
	[SatisID] [int] IDENTITY(1,1) NOT NULL,
	[UrunID] [int] NULL,
	[KullaniciID] [int] NULL,
	[Fiyat] [decimal](10, 2) NOT NULL,
	[OdemeDurumu] [nvarchar](50) NOT NULL,
	[SatisTarihi] [datetime] NULL,
	[Aktif] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SatisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urunler]    Script Date: 27.02.2026 21:56:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler](
	[UrunID] [int] IDENTITY(1,1) NOT NULL,
	[UrunAdi] [nvarchar](500) NULL,
	[KategoriID] [int] NULL,
	[Aciklama] [nvarchar](max) NULL,
	[Fiyat] [decimal](10, 2) NOT NULL,
	[ResimYolu] [nvarchar](255) NULL,
	[Durum] [nvarchar](50) NOT NULL,
	[KiralamaDurumu] [bit] NULL,
	[SaticiID] [int] NULL,
	[Aktif] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bildirimler] ON 

INSERT [dbo].[Bildirimler] ([BildirimID], [KullaniciID], [BildirimMetni], [Tarih], [Durum], [Aktif], [UrunID], [GonderenID]) VALUES (13, 5, N'Yeni bir mesajınız var.', CAST(N'2025-06-09T12:52:36.403' AS DateTime), 1, 0, 8, 4)
INSERT [dbo].[Bildirimler] ([BildirimID], [KullaniciID], [BildirimMetni], [Tarih], [Durum], [Aktif], [UrunID], [GonderenID]) VALUES (15, 5, N'Yeni bir mesajınız var.', CAST(N'2025-06-09T14:05:48.843' AS DateTime), 1, 0, 8, 4)
INSERT [dbo].[Bildirimler] ([BildirimID], [KullaniciID], [BildirimMetni], [Tarih], [Durum], [Aktif], [UrunID], [GonderenID]) VALUES (17, 5, N'Yeni bir mesajınız var.', CAST(N'2025-06-09T14:14:40.850' AS DateTime), 1, 0, 8, 4)
SET IDENTITY_INSERT [dbo].[Bildirimler] OFF
GO
SET IDENTITY_INSERT [dbo].[Duyurular] ON 

INSERT [dbo].[Duyurular] ([DuyuruID], [KullaniciID], [Baslik], [Aciklama], [Tarih], [SonTarih], [Aktif], [PaylasimTarihi], [OtomatikKaldir]) VALUES (4, 4, N'Kütüphane kullanımı', N'Kütüphane 18.04.2025 tarihinde kullanıma kapalıdır', CAST(N'2025-04-17T00:00:00.000' AS DateTime), CAST(N'2025-04-19T00:00:00.000' AS DateTime), 1, CAST(N'2025-04-17T13:19:21.950' AS DateTime), 0)
INSERT [dbo].[Duyurular] ([DuyuruID], [KullaniciID], [Baslik], [Aciklama], [Tarih], [SonTarih], [Aktif], [PaylasimTarihi], [OtomatikKaldir]) VALUES (5, 4, N'Güncel Yemekhane Fiyatları', N'Yemekhane yemek fiyatları güncellenmiştir.', CAST(N'2025-04-19T00:00:00.000' AS DateTime), CAST(N'2025-04-26T00:00:00.000' AS DateTime), 0, CAST(N'2025-04-19T10:06:01.570' AS DateTime), 0)
INSERT [dbo].[Duyurular] ([DuyuruID], [KullaniciID], [Baslik], [Aciklama], [Tarih], [SonTarih], [Aktif], [PaylasimTarihi], [OtomatikKaldir]) VALUES (6, 4, N'Seminer', N'TBMYO'' da yazılımla ilgili bir seminer gerçekleşti', CAST(N'2025-04-21T00:00:00.000' AS DateTime), CAST(N'2025-04-21T00:00:00.000' AS DateTime), 0, CAST(N'2025-04-22T01:08:19.510' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Duyurular] OFF
GO
SET IDENTITY_INSERT [dbo].[Kategoriler] ON 

INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAdi], [Aciklama], [Aktif]) VALUES (1, N'Elektrik/Elektronik eşya', N'Elektrikli eşyalar,teknolojik ürünler', 1)
INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAdi], [Aciklama], [Aktif]) VALUES (2, N'Kırtasiye Ürünleri', N'Defter,Kalem,Kitap vs.', 1)
INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAdi], [Aciklama], [Aktif]) VALUES (3, N'Kitaplar', N'Kitap Çeşitleri', 1)
SET IDENTITY_INSERT [dbo].[Kategoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[KiralamaIslemleri] ON 

INSERT [dbo].[KiralamaIslemleri] ([KiralamaID], [UrunID], [KullaniciID], [BaslangicTarihi], [BitisTarihi], [TeslimTarihi], [OdemeDurumu], [KiralamaDurumu], [TeslimDurumu], [Aktif], [BildirimGonderildi], [Adres], [Saat]) VALUES (1, 7, 4, CAST(N'2025-05-26T00:00:00.000' AS DateTime), CAST(N'2025-05-31T00:00:00.000' AS DateTime), NULL, N'Ödendi', N'Onaylandı', N'Teslim Edildi', 1, NULL, NULL, NULL)
INSERT [dbo].[KiralamaIslemleri] ([KiralamaID], [UrunID], [KullaniciID], [BaslangicTarihi], [BitisTarihi], [TeslimTarihi], [OdemeDurumu], [KiralamaDurumu], [TeslimDurumu], [Aktif], [BildirimGonderildi], [Adres], [Saat]) VALUES (2, 7, 4, CAST(N'2025-05-26T00:00:00.000' AS DateTime), CAST(N'2025-05-31T00:00:00.000' AS DateTime), NULL, N'Ödendi', N'Beklemede', N'Teslim Edildi', 1, NULL, NULL, NULL)
INSERT [dbo].[KiralamaIslemleri] ([KiralamaID], [UrunID], [KullaniciID], [BaslangicTarihi], [BitisTarihi], [TeslimTarihi], [OdemeDurumu], [KiralamaDurumu], [TeslimDurumu], [Aktif], [BildirimGonderildi], [Adres], [Saat]) VALUES (3, 7, 4, CAST(N'2025-05-26T00:00:00.000' AS DateTime), CAST(N'2025-05-31T00:00:00.000' AS DateTime), NULL, N'Ödendi', N'Beklemede', N'Teslim Edildi', 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[KiralamaIslemleri] OFF
GO
SET IDENTITY_INSERT [dbo].[Kullanicilar] ON 

INSERT [dbo].[Kullanicilar] ([KullaniciID], [Ad], [Soyad], [Email], [Telefon], [Sifre], [KayitTarihi], [KullaniciTipi], [Aktif], [IBAN]) VALUES (4, N'Rümeysa', N'Koç', N'rumeysakoc897@gmail.com', N'(551) 122-0900', N'5CDEC375ECD612FD782765C33F10F903', CAST(N'2025-04-17T14:48:31.637' AS DateTime), N'Admin', 1, N'TR12 3585 6263 2635 6263 5632 64')
INSERT [dbo].[Kullanicilar] ([KullaniciID], [Ad], [Soyad], [Email], [Telefon], [Sifre], [KayitTarihi], [KullaniciTipi], [Aktif], [IBAN]) VALUES (5, N'Talha', N'Koç', N'talhakoc2010@gmail.com', N'(532) 499-4910', N'262C70803B8E41607E1E0655FCDCAE5F', CAST(N'2025-04-22T02:03:29.027' AS DateTime), N'Admin', 1, N'TR36 4946 5465 7264 3611 5942 59')
INSERT [dbo].[Kullanicilar] ([KullaniciID], [Ad], [Soyad], [Email], [Telefon], [Sifre], [KayitTarihi], [KullaniciTipi], [Aktif], [IBAN]) VALUES (10, N'Emine', N'Koç', N'eminekoc123@gmail.com', N'(536) 289-7362', N'3285BBA8A46299C559ED89BC10F00D25', CAST(N'2025-04-29T14:23:05.460' AS DateTime), N'Akademisyen', 1, N'TR85 4895 6295 6298 6498 9865 58')
SET IDENTITY_INSERT [dbo].[Kullanicilar] OFF
GO
SET IDENTITY_INSERT [dbo].[Mesajlasma] ON 

INSERT [dbo].[Mesajlasma] ([MesajID], [GonderenID], [AliciID], [UrunID], [MesajMetni], [Tarih], [FiyatTeklifi], [Durum], [Aktif]) VALUES (3, 5, 4, 11, N'kitap kaç sayfa', CAST(N'2025-06-06T11:25:46.307' AS DateTime), NULL, N'Okundu', 1)
INSERT [dbo].[Mesajlasma] ([MesajID], [GonderenID], [AliciID], [UrunID], [MesajMetni], [Tarih], [FiyatTeklifi], [Durum], [Aktif]) VALUES (4, 4, 5, 11, N'250 sayfa', CAST(N'2025-06-06T14:55:39.653' AS DateTime), NULL, N'Okundu', 1)
INSERT [dbo].[Mesajlasma] ([MesajID], [GonderenID], [AliciID], [UrunID], [MesajMetni], [Tarih], [FiyatTeklifi], [Durum], [Aktif]) VALUES (5, 5, 4, 11, N'teşekkürler', CAST(N'2025-06-06T14:56:47.433' AS DateTime), NULL, N'Okundu', 1)
SET IDENTITY_INSERT [dbo].[Mesajlasma] OFF
GO
SET IDENTITY_INSERT [dbo].[Odemeler] ON 

INSERT [dbo].[Odemeler] ([OdemeID], [KiralamaID], [SatisID], [OdemeTutari], [OdemeTarihi], [OdemeYontemi], [KullaniciID], [Aktif], [DekontYolu], [OdemeDurumu]) VALUES (1, NULL, 1, CAST(350.00 AS Decimal(10, 2)), CAST(N'2025-05-25T23:56:25.927' AS DateTime), N'Havale/EFT', 4, 1, NULL, N'Ödendi')
INSERT [dbo].[Odemeler] ([OdemeID], [KiralamaID], [SatisID], [OdemeTutari], [OdemeTarihi], [OdemeYontemi], [KullaniciID], [Aktif], [DekontYolu], [OdemeDurumu]) VALUES (2, 1, NULL, CAST(30.00 AS Decimal(10, 2)), CAST(N'2025-05-26T02:36:41.217' AS DateTime), N'Havale/EFT', 4, 1, NULL, N'Ödendi')
INSERT [dbo].[Odemeler] ([OdemeID], [KiralamaID], [SatisID], [OdemeTutari], [OdemeTarihi], [OdemeYontemi], [KullaniciID], [Aktif], [DekontYolu], [OdemeDurumu]) VALUES (3, 2, NULL, CAST(30.00 AS Decimal(10, 2)), CAST(N'2025-05-26T02:39:37.187' AS DateTime), N'Havale/EFT', 4, 1, NULL, N'Ödendi')
SET IDENTITY_INSERT [dbo].[Odemeler] OFF
GO
SET IDENTITY_INSERT [dbo].[Raporlar] ON 

INSERT [dbo].[Raporlar] ([RaporID], [Tarih], [ToplamKiralama], [ToplamSatis], [ToplamGelir], [ToplamDuyuru]) VALUES (1, CAST(N'2025-06-09T23:17:35.257' AS DateTime), 102, 350, CAST(452.00 AS Decimal(10, 2)), 0)
INSERT [dbo].[Raporlar] ([RaporID], [Tarih], [ToplamKiralama], [ToplamSatis], [ToplamGelir], [ToplamDuyuru]) VALUES (2, CAST(N'2025-06-09T23:20:23.853' AS DateTime), 102, 350, CAST(452.00 AS Decimal(10, 2)), 0)
INSERT [dbo].[Raporlar] ([RaporID], [Tarih], [ToplamKiralama], [ToplamSatis], [ToplamGelir], [ToplamDuyuru]) VALUES (3, CAST(N'2025-06-09T23:20:56.857' AS DateTime), 102, 350, CAST(452.00 AS Decimal(10, 2)), 6)
SET IDENTITY_INSERT [dbo].[Raporlar] OFF
GO
SET IDENTITY_INSERT [dbo].[SatisIslemleri] ON 

INSERT [dbo].[SatisIslemleri] ([SatisID], [UrunID], [KullaniciID], [Fiyat], [OdemeDurumu], [SatisTarihi], [Aktif]) VALUES (1, 6, 4, CAST(350.00 AS Decimal(10, 2)), N'Ödendi', CAST(N'2025-05-25T23:56:25.927' AS DateTime), 1)
INSERT [dbo].[SatisIslemleri] ([SatisID], [UrunID], [KullaniciID], [Fiyat], [OdemeDurumu], [SatisTarihi], [Aktif]) VALUES (2, 1, 4, CAST(3000.00 AS Decimal(10, 2)), N'Ödendi', CAST(N'2025-06-17T18:17:06.330' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[SatisIslemleri] OFF
GO
SET IDENTITY_INSERT [dbo].[Urunler] ON 

INSERT [dbo].[Urunler] ([UrunID], [UrunAdi], [KategoriID], [Aciklama], [Fiyat], [ResimYolu], [Durum], [KiralamaDurumu], [SaticiID], [Aktif]) VALUES (1, N'Samsung Tab A9', 1, N'Ekran: 8.7 inç TFT LCD, 1340 x 800 çözünürlük
RAM: 4 GB 
Depolama: 64 GB
İşletim Sistemi: Android 13 + One UI 5.1
Kamera: 8 MP arka, 2 MP ön kamera
Batarya: 5.100 mAh kapasite 
Renk:Silver', CAST(3000.00 AS Decimal(10, 2)), N'Resimler\TabA9.jpg', N'Satılık', 0, 4, 1)
INSERT [dbo].[Urunler] ([UrunID], [UrunAdi], [KategoriID], [Aciklama], [Fiyat], [ResimYolu], [Durum], [KiralamaDurumu], [SaticiID], [Aktif]) VALUES (2, N'Samsung Telefon', 1, N'Samsubg not4', CAST(5000.00 AS Decimal(10, 2)), NULL, N'Satılık', 0, 4, 0)
SET IDENTITY_INSERT [dbo].[Urunler] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Kullanic__A9D10534402808DE]    Script Date: 27.02.2026 21:56:40 ******/
ALTER TABLE [dbo].[Kullanicilar] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bildirimler] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Bildirimler] ADD  DEFAULT ((1)) FOR [Aktif]
GO
ALTER TABLE [dbo].[Duyurular] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Duyurular] ADD  DEFAULT ((1)) FOR [Aktif]
GO
ALTER TABLE [dbo].[Duyurular] ADD  DEFAULT (getdate()) FOR [PaylasimTarihi]
GO
ALTER TABLE [dbo].[Duyurular] ADD  DEFAULT ((0)) FOR [OtomatikKaldir]
GO
ALTER TABLE [dbo].[Kategoriler] ADD  DEFAULT ((1)) FOR [Aktif]
GO
ALTER TABLE [dbo].[KiralamaIslemleri] ADD  DEFAULT ('Bekliyor') FOR [TeslimDurumu]
GO
ALTER TABLE [dbo].[KiralamaIslemleri] ADD  DEFAULT ((1)) FOR [Aktif]
GO
ALTER TABLE [dbo].[KiralamaIslemleri] ADD  DEFAULT ((0)) FOR [BildirimGonderildi]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  DEFAULT (getdate()) FOR [KayitTarihi]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  DEFAULT ((1)) FOR [Aktif]
GO
ALTER TABLE [dbo].[Mesajlasma] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Mesajlasma] ADD  DEFAULT ((1)) FOR [Aktif]
GO
ALTER TABLE [dbo].[Odemeler] ADD  DEFAULT (getdate()) FOR [OdemeTarihi]
GO
ALTER TABLE [dbo].[Odemeler] ADD  DEFAULT ((1)) FOR [Aktif]
GO
ALTER TABLE [dbo].[Raporlar] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Raporlar] ADD  DEFAULT ((0)) FOR [ToplamKiralama]
GO
ALTER TABLE [dbo].[Raporlar] ADD  DEFAULT ((0)) FOR [ToplamSatis]
GO
ALTER TABLE [dbo].[Raporlar] ADD  DEFAULT ((0)) FOR [ToplamGelir]
GO
ALTER TABLE [dbo].[Raporlar] ADD  DEFAULT ((0)) FOR [ToplamDuyuru]
GO
ALTER TABLE [dbo].[SatisIslemleri] ADD  DEFAULT (getdate()) FOR [SatisTarihi]
GO
ALTER TABLE [dbo].[SatisIslemleri] ADD  DEFAULT ((1)) FOR [Aktif]
GO
ALTER TABLE [dbo].[Urunler] ADD  DEFAULT ((0)) FOR [KiralamaDurumu]
GO
ALTER TABLE [dbo].[Urunler] ADD  DEFAULT ((1)) FOR [Aktif]
GO
ALTER TABLE [dbo].[Bildirimler]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[Duyurular]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[KiralamaIslemleri]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[KiralamaIslemleri]  WITH CHECK ADD FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[Mesajlasma]  WITH CHECK ADD FOREIGN KEY([AliciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[Mesajlasma]  WITH CHECK ADD FOREIGN KEY([GonderenID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[Mesajlasma]  WITH CHECK ADD FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[Odemeler]  WITH CHECK ADD FOREIGN KEY([KiralamaID])
REFERENCES [dbo].[KiralamaIslemleri] ([KiralamaID])
GO
ALTER TABLE [dbo].[Odemeler]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[Odemeler]  WITH CHECK ADD FOREIGN KEY([SatisID])
REFERENCES [dbo].[SatisIslemleri] ([SatisID])
GO
ALTER TABLE [dbo].[SatisIslemleri]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[SatisIslemleri]  WITH CHECK ADD FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD FOREIGN KEY([KategoriID])
REFERENCES [dbo].[Kategoriler] ([KategoriID])
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD FOREIGN KEY([SaticiID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
USE [master]
GO
