USE [master]
GO
/****** Object:  Database [KampusArena]    Script Date: 27.02.2026 22:48:57 ******/
CREATE DATABASE [KampusArena]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KampusArena', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS03\MSSQL\DATA\KampusArena.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KampusArena_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS03\MSSQL\DATA\KampusArena_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KampusArena].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KampusArena]
GO
/****** Object:  Table [dbo].[Bildirimler]    Script Date: 27.02.2026 22:48:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bildirimler](
	[BildirimID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NULL,
	[BildirimMetni] [nvarchar](255) NOT NULL,
	[Tarih] [datetime] NULL,
	[Durum] [bit] NULL,
	[Aktif] [bit] NULL,
	[UrunID] [int] NULL,
	[GonderenID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BildirimID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Duyurular]    Script Date: 27.02.2026 22:48:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Duyurular](
	[DuyuruID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NULL,
	[Baslik] [nvarchar](255) NOT NULL,
	[Aciklama] [nvarchar](max) NOT NULL,
	[Tarih] [datetime] NULL,
	[SonTarih] [datetime] NOT NULL,
	[Aktif] [bit] NULL,
	[PaylasimTarihi] [datetime] NULL,
	[OtomatikKaldir] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DuyuruID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 27.02.2026 22:48:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [nvarchar](100) NOT NULL,
	[Aciklama] [nvarchar](255) NULL,
	[Aktif] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KiralamaIslemleri]    Script Date: 27.02.2026 22:48:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KiralamaIslemleri](
	[KiralamaID] [int] IDENTITY(1,1) NOT NULL,
	[UrunID] [int] NULL,
	[KullaniciID] [int] NULL,
	[BaslangicTarihi] [datetime] NOT NULL,
	[BitisTarihi] [datetime] NOT NULL,
	[TeslimTarihi] [datetime] NULL,
	[OdemeDurumu] [nvarchar](50) NOT NULL,
	[KiralamaDurumu] [nvarchar](50) NOT NULL,
	[TeslimDurumu] [nvarchar](50) NOT NULL,
	[Aktif] [bit] NULL,
	[BildirimGonderildi] [bit] NULL,
	[Adres] [nvarchar](200) NULL,
	[Saat] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[KiralamaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 27.02.2026 22:48:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[KullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Telefon] [nvarchar](15) NULL,
	[Sifre] [nvarchar](100) NOT NULL,
	[KayitTarihi] [datetime] NULL,
	[KullaniciTipi] [nvarchar](20) NOT NULL,
	[Aktif] [bit] NULL,
	[IBAN] [nvarchar](34) NULL,
PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mesajlasma]    Script Date: 27.02.2026 22:48:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mesajlasma](
	[MesajID] [int] IDENTITY(1,1) NOT NULL,
	[GonderenID] [int] NULL,
	[AliciID] [int] NULL,
	[UrunID] [int] NULL,
	[MesajMetni] [nvarchar](max) NOT NULL,
	[Tarih] [datetime] NULL,
	[FiyatTeklifi] [decimal](10, 2) NULL,
	[Durum] [nvarchar](20) NULL,
	[Aktif] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MesajID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Odemeler]    Script Date: 27.02.2026 22:48:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odemeler](
	[OdemeID] [int] IDENTITY(1,1) NOT NULL,
	[KiralamaID] [int] NULL,
	[SatisID] [int] NULL,
	[OdemeTutari] [decimal](10, 2) NOT NULL,
	[OdemeTarihi] [datetime] NULL,
	[OdemeYontemi] [nvarchar](50) NOT NULL,
	[KullaniciID] [int] NULL,
	[Aktif] [bit] NULL,
	[DekontYolu] [nvarchar](255) NULL,
	[OdemeDurumu] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[OdemeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Raporlar]    Script Date: 27.02.2026 22:48:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Raporlar](
	[RaporID] [int] IDENTITY(1,1) NOT NULL,
	[Tarih] [datetime] NULL,
	[ToplamKiralama] [int] NULL,
	[ToplamSatis] [int] NULL,
	[ToplamGelir] [decimal](10, 2) NULL,
	[ToplamDuyuru] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RaporID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SatisIslemleri]    Script Date: 27.02.2026 22:48:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SatisIslemleri](
	[SatisID] [int] IDENTITY(1,1) NOT NULL,
	[UrunID] [int] NULL,
	[KullaniciID] [int] NULL,
	[Fiyat] [decimal](10, 2) NOT NULL,
	[OdemeDurumu] [nvarchar](50) NOT NULL,
	[SatisTarihi] [datetime] NULL,
	[Aktif] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SatisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urunler]    Script Date: 27.02.2026 22:48:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler](
	[UrunID] [int] IDENTITY(1,1) NOT NULL,
	[UrunAdi] [nvarchar](500) NULL,
	[KategoriID] [int] NULL,
	[Aciklama] [nvarchar](max) NULL,
	[Fiyat] [decimal](10, 2) NOT NULL,
	[ResimYolu] [nvarchar](255) NULL,
	[Durum] [nvarchar](50) NOT NULL,
	[KiralamaDurumu] [bit] NULL,
	[SaticiID] [int] NULL,
	[Aktif] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bildirimler] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Bildirimler] ADD  DEFAULT ((1)) FOR [Aktif]
GO
ALTER TABLE [dbo].[Duyurular] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Duyurular] ADD  DEFAULT ((1)) FOR [Aktif]
GO
ALTER TABLE [dbo].[Duyurular] ADD  DEFAULT (getdate()) FOR [PaylasimTarihi]
GO
ALTER TABLE [dbo].[Duyurular] ADD  DEFAULT ((0)) FOR [OtomatikKaldir]
GO
ALTER TABLE [dbo].[Kategoriler] ADD  DEFAULT ((1)) FOR [Aktif]
GO
ALTER TABLE [dbo].[KiralamaIslemleri] ADD  DEFAULT ('Bekliyor') FOR [TeslimDurumu]
GO
ALTER TABLE [dbo].[KiralamaIslemleri] ADD  DEFAULT ((1)) FOR [Aktif]
GO
ALTER TABLE [dbo].[KiralamaIslemleri] ADD  DEFAULT ((0)) FOR [BildirimGonderildi]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  DEFAULT (getdate()) FOR [KayitTarihi]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  DEFAULT ((1)) FOR [Aktif]
GO
ALTER TABLE [dbo].[Mesajlasma] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Mesajlasma] ADD  DEFAULT ((1)) FOR [Aktif]
GO
ALTER TABLE [dbo].[Odemeler] ADD  DEFAULT (getdate()) FOR [OdemeTarihi]
GO
ALTER TABLE [dbo].[Odemeler] ADD  DEFAULT ((1)) FOR [Aktif]
GO
ALTER TABLE [dbo].[Raporlar] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Raporlar] ADD  DEFAULT ((0)) FOR [ToplamKiralama]
GO
ALTER TABLE [dbo].[Raporlar] ADD  DEFAULT ((0)) FOR [ToplamSatis]
GO
ALTER TABLE [dbo].[Raporlar] ADD  DEFAULT ((0)) FOR [ToplamGelir]
GO
ALTER TABLE [dbo].[Raporlar] ADD  DEFAULT ((0)) FOR [ToplamDuyuru]
GO
ALTER TABLE [dbo].[SatisIslemleri] ADD  DEFAULT (getdate()) FOR [SatisTarihi]
GO
ALTER TABLE [dbo].[SatisIslemleri] ADD  DEFAULT ((1)) FOR [Aktif]
GO
ALTER TABLE [dbo].[Urunler] ADD  DEFAULT ((0)) FOR [KiralamaDurumu]
GO
ALTER TABLE [dbo].[Urunler] ADD  DEFAULT ((1)) FOR [Aktif]
GO
ALTER TABLE [dbo].[Bildirimler]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[Duyurular]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[KiralamaIslemleri]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[KiralamaIslemleri]  WITH CHECK ADD FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[Mesajlasma]  WITH CHECK ADD FOREIGN KEY([AliciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[Mesajlasma]  WITH CHECK ADD FOREIGN KEY([GonderenID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[Mesajlasma]  WITH CHECK ADD FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[Odemeler]  WITH CHECK ADD FOREIGN KEY([KiralamaID])
REFERENCES [dbo].[KiralamaIslemleri] ([KiralamaID])
GO
ALTER TABLE [dbo].[Odemeler]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[Odemeler]  WITH CHECK ADD FOREIGN KEY([SatisID])
REFERENCES [dbo].[SatisIslemleri] ([SatisID])
GO
ALTER TABLE [dbo].[SatisIslemleri]  WITH CHECK ADD FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[SatisIslemleri]  WITH CHECK ADD FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunID])
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD FOREIGN KEY([KategoriID])
REFERENCES [dbo].[Kategoriler] ([KategoriID])
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD FOREIGN KEY([SaticiID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
USE [master]
GO
